/* Original CSS from Carbon https://codepen.io/team/buysellads/pen/LYPGKjy */

#carbonads {
  position: relative;
  display: flex;
  width: 300px;
  height: 250px;
  background-color: #fff;
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 0%, .15);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;

  justify-content: center;
  align-items: center;
}

#carbonads a {
  color: #111;
  text-decoration: none;
}

#carbonads a:hover {
  color: #111;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 0 8px;
  line-height: 1;
}

.carbon-img img {
  max-width: 150px !important;
  width: 150px;
  height: auto;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
}

.carbon-poweredby {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  padding: 5px 6px;
  border-radius: 2.5px;
  background-color: hsl(246, 93%, 69%);
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
}

/* Custom overrides */

.ads {
	position: absolute;
	right: 20px;
	top: 60px;
	max-width: 220px;
}

#carbonads {
  font-family:'Roboto', sans-serif;
  width: 100%;
  border-radius: 4px;
  min-height: 280px;
  height: auto;
  background: #fafafa;
}

.carbon-poweredby {
  background: #212121;
  font-weight: 500;
  padding: 6px 8px;
}

@media screen and (max-width: 1000px) {
  .ads {
    left: 0;
    top: 0;
    max-width: 360px;
    position: relative;
    margin-top: 15px;
  }

  #carbonads {
    min-height: 120px;
    padding: 10px;
  }

  #carbonads .carbon-wrap {
    display: flex;
  }

  .carbon-img {
    margin: 0;
    line-height: 0;
  }

  .carbon-img img {
    width: 130px;
  }

  .carbon-text {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 350px) {
  .carbon-text {
    margin-bottom: 40px;
  }
}
