/*
Just some local overrides so Google's original stylesheet (main.css) can remain unedited.
*/

@keyframes octocat-wave {
	0%, 100% {
		transform: rotate(0)
	}
	20%, 60% {
		transform: rotate(-25deg)
	}
	40%, 80% {
		transform: rotate(10deg)
	}
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

body {
  font-family: Roboto;
  color: #424242;
}

.palettes {
  /* footer is ~116px high */
  min-height: calc(100vh - 116px);
}

.color-tool {
  max-width: none;
  padding: 140px 40px 80px;
}

.tool-title {
  display: none;
}

.page-content {
  position: relative;
  top: 100px;
  padding: 0 40px;
}

.page-title {
  font-size: 28px;
  height: 0;
  margin: 0;
  line-height: 1.2;
}

.page-title a {
	color: #424242;
	text-decoration: none;
}

.page-messaging {
  margin-top: 100px;
  font-weight: normal;
  padding-bottom: 60px;
}

.page-messaging-title {
  font-size: 120px;
  animation: rotate 30s linear infinite;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 40px;
}

.page-messaging-subtitle {
  font-weight: normal;
  font-size: 20px;
}

.standard-link {
  color: #22835d;
	font-weight: 500;
}

.standard-link:active,
.standard-link:focus,
.standard-link:hover {
  text-decoration: none;
}

.color-palette__color-weight-label {
  max-width: 64px;
}

.utility-panel {
  right: 20px;
  top: 20px;
}

.utility-panel .content__info {
  display: none;
}

.utility-panel {
  height: 120px;
}

.utility-panel__label {
  cursor: default;
}

.utility-panel__label i {
  display: none;
}

.color-palette__color-weight-label {
  font-family: Courier, monospace;
}

.clipboard-confirmation {
  right: 20px;
  transform: translateY(200px);
  left: auto;
  animation: none;
}

.clipboard-confirmation--visible {
  animation: fadein 250ms linear;
  transform: translateY(-20px);
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

.page-footer {
  padding: 0 40px;
  margin-bottom: 50px;
	font-weight: 500;
}

.page-footer p {
	margin-top: 0;
}

.footer-logo {
  max-width: 80px;
  vertical-align: middle;
  position: relative;
  margin-left: 5px;
  bottom: 5px;
}

.footer-link {
  transition: all .15s ease;
  display: inline-block;
}

.footer-link:active,
.footer-link:focus,
.footer-link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  body {
		background-color: #fff;
	}

	.color-tool {
		display: block;
    padding: 200px 20px 60px;
	}

  .page-content {
    padding: 0 20px;
    top: 165px;
  }

  .page-title {
    font-size: 24px;
  }

	.mobile-message {
		display: none
	}

  .utility-panel {
    left: 20px;
    position: absolute;
  }

  .color-picker-panel {
    left: 40px;
    top: 40px;
    position: absolute;
  }

  .color-palette__cell--selected, .color-palette__cell--selected .color-palette__ripple {
    border-radius: 0;
  }

  .github-corner svg {
    transform: scale(1, 1) !important;
    right: 0 !important;
    left: auto !important;
  }

  .page-footer {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  .color-tool {
    padding-left: 10px;
    padding-right: 10px;
	}

  .utility-panel {
    left: 10px;
  }

  .color-picker-panel {
    left: 30px;
    top: 30px;
  }

  .page-content {
    padding: 0 10px;
  }

  .page-footer {
    padding: 0 10px;
    text-align: center;
  }

  .clipboard-confirmation {
    right: 10px;
  }

  .github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
