/*
  Just some local overrides so the original stylesheet (main.css) can remain unedited.
  Written by Michael Edelstone. Use for any purpose without crediting me.
*/

.color-tool {
  max-width: none;
  padding: 140px 40px 60px;
}

.tool-title {
  display: none;
}

.page-content {
  position: relative;
  top: 100px;
  padding: 0 40px;
}

.page-title {
  font-family: 'Roboto';
  font-size: 28px;
  height: 0;
  margin: 0;
}

.page-messaging {
  margin-top: 100px;
  font-family: 'Roboto';
  font-weight: normal;
  padding-bottom: 60px;
}

.page-messaging-title {
  font-size: 80px;
  animation: rotate 30s linear infinite;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
}

.page-messaging-subtitle {
  font-weight: normal;
}

.page-messaging a {
  color: #93197a;
}

.page-messaging a:active,
.page-messaging a:focus,
.page-messaging a:hover {
  text-decoration: none;
}

.color-palette__color-weight-label {
  max-width: 64px;
}

.utility-panel {
  right: 20px;
  top: 20px;
}

.utility-panel .content__info {
  display: none;
}

.utility-panel {
  height: 120px;
}

.utility-panel__label {
  cursor: default;
}

.utility-panel__label i {
  display: none;
}

.color-palette__color-weight-label {
  font-family: Courier, monospace;
}

.clipboard-confirmation {
  right: 20px;
  left: auto;
  animation: none;
}

.clipboard-confirmation--visible {
  animation: fadein 200ms linear;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
	0%, 100% {
		transform: rotate(0)
	}
	20%, 60% {
		transform: rotate(-25deg)
	}
	40%, 80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}


@keyframes rotate {
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 800px) {
  body {
		background-color: #fff;
	}

	.color-tool {
		display: block;
    padding: 210px 20px 60px;
	}

  .page-content {
    padding: 0 20px;
    top: 165px;
  }

  .page-title {
    font-size: 24px;
  }

	.mobile-message {
		display: none
	}

  .utility-panel {
    left: 20px;
    position: absolute;
  }

  .color-picker-panel {
    left: 40px;
    top: 40px;
    position: absolute;
  }

  .color-palette__cell--selected, .color-palette__cell--selected .color-palette__ripple {
    border-radius: 0;
  }

  .github-corner svg {
    transform: scale(1, 1) !important;
    right: 0 !important;
    left: auto !important;
  }
}

@media screen and (max-width: 400px) {
  .color-tool {
    padding-left: 10px;
    padding-right: 10px;
	}

  .utility-panel {
    left: 10px;
  }

  .color-picker-panel {
    left: 30px;
    top: 30px;
  }

  .page-content {
    padding: 0 10px;
  }

  .page-title {
    font-size: 20px;
  }

  .clipboard-confirmation {
    right: 10px;
  }
}
