/*
Just some local overrides so Google's original stylesheet (main.css) can remain unedited.
*/

@keyframes octocat-wave {
	0%, 100% {
		transform: rotate(0)
	}
	20%, 60% {
		transform: rotate(-25deg)
	}
	40%, 80% {
		transform: rotate(10deg)
	}
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

body {
	font-family:'Roboto', sans-serif;
	color: #424242;
}

code {
  font-family: Consolas, monospace;
	font-size: 85%;
	background: #f0f0f0;
  padding: 2px 4px;
	border-radius: 3px;
}

.palettes {
  /* footer is ~71px high */
  min-height: calc(100vh - 71px);
}

.color-tool {
  max-width: none;
  padding: 140px 40px 60px;
}

.tool-title {
  display: none;
}

.page-content {
  position: relative;
  top: 100px;
  padding: 0 40px;
}

.page-title {
  font-size: 36px;
  height: 0;
  margin: 0;
  line-height: 1.2;
}

.page-title a {
	color: #424242;
	text-decoration: none;
	font-weight: 100;
}

.page-title a:active,
.page-title a:focus,
.page-title a:hover {
	text-decoration: underline;
}

.page-messaging {
  margin-top: 60px;
  font-weight: normal;
  padding-bottom: 40px;
	max-width: 680px;
	line-height: 1.4;
}

.page-messaging h2 {
	font-weight: 500;
	margin: 15px 0;
	font-size: 24px;
	padding-top: 20px;
}

.page-messaging-title {
  font-size: 120px;
	font-weight: bold;
  animation: rotate 120s linear infinite;
  display: inline-block;
  margin: 25px 0;
}

.page-messaging-subtitle {
  font-size: 20px;
}

.standard-link, .page-messaging a {
  color: #007c6e;
}

.standard-link:active,
.standard-link:focus,
.standard-link:hover,
.page-messaging a:active,
.page-messaging a:focus,
.page-messaging a:hover {
  text-decoration: none;
}

.color-palette__color-weight-label {
  max-width: 64px;
}

.utility-panel {
  right: 20px;
  top: 20px;
	height: 120px;
	position: absolute;
	width: 240px;
}

.utility-panel .content__info {
  display: none;
}

.utility-panel {
}

.utility-panel__label {
  cursor: default;
}

.utility-panel__label i {
  display: none;
}

.color-palette__color-weight-label {
  font-family: Courier, monospace;
}

.color-palette__cell-hex-value {
	text-transform: lowercase;
	left: auto;
}

.clipboard-confirmation {
	transform: translateY(200px);
	animation: none;
	height: auto;
	padding: 5px 25px;
	text-align: center;
	width: 220px;
}

.clipboard-confirmation--visible {
  animation: fadein 250ms linear;
  transform: translateY(-20px);
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

.page-footer {
  padding: 0 40px 60px;
	font-weight: 500;
}

.page-footer.footer-alt {
	padding-left: 0;
}

.page-footer p {
	margin-top: 0;
}

.page-footer a:first-child {
	margin-right: 25px;
}

@media screen and (max-width: 1000px) {
  body {
		background-color: #fff;
	}

	.color-tool {
		display: block;
    padding: 165px 20px 60px;
	}

  .page-content {
    padding: 0 20px;
    top: 165px;
  }

	.page-content.sub-page {
		top: 80px;
	}

  .page-title {
    font-size: 32px;
		height: auto;
  }

	.page-messaging {
		margin-top: 20px;
	}

	.mobile-message {
		display: none
	}

  .utility-panel {
    left: 20px;
    position: absolute;
  }

  .color-picker-panel {
    left: 40px;
    top: 40px;
    position: absolute;
  }

  .github-corner svg {
    transform: scale(1, 1) !important;
    right: 0 !important;
    left: auto !important;
  }

  .page-footer {
    padding: 0 20px 60px;
  }
}

@media screen and (max-width: 500px) {
  .color-tool {
    padding-left: 10px;
    padding-right: 10px;
	}

  .utility-panel {
    left: 10px;
		width: 220px;
  }

  .color-picker-panel {
    left: 30px;
    top: 30px;
  }

  .page-content {
    padding: 0 10px;
  }

  .page-footer {
    padding: 0 10px 60px;
  }

  .github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
